/* Font */
* {
    font-family: 'Raleway', sans-serif;
}

/* I hate Osclass admin UI */
#content-head {
    padding: 0;
    height: 90px;
}

#content-page {
    padding: 10px;
    background: #eff1f2;
}

.grid-row .row-wrapper {
    margin: 0;
}

.input-text, input[type="text"], .input-password, input[type="password"] {
    display: inline-block !important;
    vertical-align: middle !important;
    width: 100% !important;
    height: 40px !important;
    padding: 0 10px !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;
    color: #666 !important;
    font-size: 14px !important;
}

/* Colors */
.wm-white {
    color: #fff;
}

.wm-gray {
    color: rgba(255, 255, 255, 0.75);
}

.wm-background {
    background: -webkit-linear-gradient(45deg, #1e87f0 48%, #222 48%);
    background: -webkit-linear-gradient(left, #1e87f0 48%, #222 48%);
    background: linear-gradient(45deg, #1e87f0 48%, #222 48%);
}

.uk-label:hover {
    color: #fff;
}

/* Typography */
.wm p {
    margin-block-start:0;
    margin-block-end:0;
}

.wm a:hover {
    text-decoration: none;
}

/* Topbar */
.wm-topbar {
    background: #212529;
}

.wm-topbar a {
    color: #1e87f0;
}

.wm-topbar p {
    padding: 5px;
    color: #fff;
    text-align: right;
    margin-right: 2em;
}

/* Navbar */
.wm-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

.wm-navbar-logo {
    font-size: 2em;
    margin-left: 2em;
    color: #fff;
}

.wm-navbar-items {
    display: flex;
    margin-right: 2em;
}

.wm-navbar-items li a {
    color: rgba(255, 255, 255, 0.75);
    margin: 0 10px 0 10px;
}

.wm-navbar-items li.active a, .wm-navbar-items li:hover a {
    color: #fff;
}

/* Settings. */
.wm-settings {
    background: #fff;
}
